<template>
  <div class="create">
    user:<input type="text" v-model="account.firstName">
    <br>
    {{ account.user }}
    <br>
    password:<input type="password" v-model="account.password">
    <br>
    {{ account.password }}
    <br>
    <router-link to="/login"><button @click="onSubmit">Save</button></router-link>
  </div>
</template>

<script lang="ts">
import api from '../services/api'
import { defineComponent, reactive } from 'vue'
export default defineComponent({
  setup () {
    const account = reactive({ firstName: '', password: '' })
    const onSubmit = async () => {
      await api.post('http://localhost:3000/users', account).then().catch(() => {
        return false
      })
    }
    return {
      account,
      onSubmit
    }
  },
  data () {
    return {
      users: {}
    }
  }
})
</script>
