<template>
  <div class="about">
    <br><br>
        <img src="../assets/logo.png" />
    <br><br>
    <div>
      <p>USER :  <input v-model="account.user" type="text" placeholder=" user" style="width: 30dp;" /></p>
      <br>
      <p>PASSWORD : <input v-model="account.password" type="password" placeholder=" password" @click="!isLogin"/></p>
      <br>
      <button type="submit" @click="onSubmit">
        LOGIN
      </button>
      <router-link to="/create"><button>new account</button></router-link>
    </div>
    {{users}}
  </div>
</template>

<script lang="ts">
import api from '../services/api'
import { defineComponent, reactive } from 'vue'
export default defineComponent({
  setup () {
    let isLogin = false
    const account = reactive({ user: '', password: '' })
    const onSubmit = () => {
      if (account.user !== 'user' && account.password !== 'password') {
        alert(JSON.stringify('wrong password'))
      } else {
        alert(JSON.stringify('correct password'))
        isLogin = true
      }
      account.user = ''
      account.password = ''
    }
    return {
      isLogin,
      account,
      onSubmit
    }
  },
  data () {
    return {
      users: {}
    }
  },
  methods: {
    async getUser () {
      await api.get('http://localhost:3000/users').then((response) => {
        this.users = response.data
      }).catch((error) => {
        console.log(error)
      })
    }
  },
  mounted () {
    this.getUser()
  }
})
</script>
